#searchbar{ 
    padding:15px; 
    border-radius: 10px; 
  } 

  input[type=text] { 
     width: 20%; 
     -webkit-transition: width 0.15s ease-in-out; 
     transition: width 0.15s ease-in-out; 
  } 
