body {
    margin: 0px;
}



div.campus img:hover {
    border: 10px solid yellowgreen;
    box-sizing: border-box;
    visibility: visible;
}

div.campus img{
    /* Full height */
    height: 100vh;
    width: 50%;
    float: left;
}
